<div class="seller-auth">
    <div class="sign-up">
        <h1>Seller Sign Up</h1>
        <form #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)" class="common-form">
            <input type="text" ngModel class="form-input" placeholder="Enter Name" name="name" />
            <input type="password" ngModel class="form-input" placeholder="Enter Password" name="password" />
            <input type="email" ngModel class="form-input" placeholder="Enter Email" name="email" />
            <button class="form-button">Sign Up</button>
        </form>
    </div>
</div>