
<ngb-carousel *ngIf="popularProducts">
  <ng-template *ngFor="let product of popularProducts" ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="product-header-image" src="{{ product.image }}" alt="Random first slide" />
    </div>
    <div class="carousel-caption">
      <h3>{{ product.name }}</h3>
      <p>{{ product.description }}</p>
    </div>
  </ng-template>
</ngb-carousel>
<div class="product-list-wrapper">
  <h1>Trendy Products</h1>
  <div class="row">
    <div class="col-sm-3">
      <div class="product-item">
        <img src="https://m.media-amazon.com/images/I/51fXuiChdJL.jpg" alt="">
        <div class="product-details">
          <h6 class="name-head">New Product</h6>
          <div class="product-price">
            <h6>Price: 100</h6>
          </div>
          <div class="product-color">
            <h6>Color: Red</h6>
          </div>
        </div>
        <div class="product-footer">
          <a href="">View Details</a>
          <a href="">Add to Cart</a>
        </div>
      </div>
    </div>
  </div>
</div>
